.body{
    font-size: 1.6rem;
    line-height: 1.5;
}
body {
    color: #333;
    fill: #333;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f0edf2;
    max-width: 100%;
    overflow-x: hidden;
    font: normal normal normal 10px "microsoft yahei",Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}
.game .h2, h2 {
    font-size: 5.8rem;
}
.overview-section:not(li){
    background-image: url(../img/bg-welcometooverwatch-3.jpg);
    text-align: left;
    background-position: 25% top;
    position: relative;
    padding-bottom: 200px;
    z-index: 1;
    padding-top: 150px;
    background-size:cover;
    border-bottom: 5px solid hsla(0,0%,100%,.5);
}
.u-font-shadow{
    text-shadow: 1px 2px 3px rgba(51,51,51,.5);
}
.page-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.intro-row{
    margin-top: 8rem;
}
.row{
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
.row:after, .row:before {
    content: ' ';
    display: table;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.game .lg-6{
    width: 50%;
}
.lg-push-6{
    position: relative;
    left: 50%;
}
.lg-pull-6{
    position: relative;
    left: -50%;
}
.game .u-invert{
    color: #f0edf2;
}
.game .column{
    float: left;
}
p+p {
    margin-top: 1em;
}
.game-description{
    margin-left: 0;
    margin-right: auto;
}
.u-invert{
    color: #f0edf2;
}
#overview-section .intro-text {
    line-height: 1.47;
    margin-bottom: 3.6rem;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: .5em;
}
.column:last-child:not(:first-child){
    float: right;
    text-align: left;
}
.u-limit-width{

}
.overwatch-trailer{
    margin-right: 30px;
    margin-bottom: 0;
    max-width: 540px;
}
.media-thumbnail{
    border: 4px solid rgba(255,255,255,.5);
    border-radius: 3px;
    display: block;
    text-decoration: none;
}
.media-thumbnail>.wrap {
    position: relative;
    overflow: hidden;
}
.media-thumbnail>.wrap:before {
    content: '';
    display: block;
    height: 0;
    padding-top: 56.25%;
}
.media-thumbnail.m-playable>.wrap:after, .media-thumbnail.m-viewable>.wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
    transition: all .2s cubic-bezier(.25,.46,.45,.94);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13% auto;
}
.media-thumbnail.m-playable>.wrap:after {
    background-image: url(../img/youtube-btn-ylw.png);
}
.media-thumbnail>.wrap>.media {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
body.game .heroes-section:not(li):not(li) {
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
}
.u-border-separator, body.game .abilities-section:not(li), body.game .friends-section:not(li), body.game .game-modes-section:not(li), body.game .heroes-section:not(li), body.game .maps-section:not(li), body.game .match-section:not(li), body.game .overview-section:not(li), body.game .progress-section:not(li), body.game .role-section:not(li) {
    border-bottom: 5px solid hsla(0,0%,100%,.5);
}
.left-team-image{
    background-image: url(../img/game_teams_left.png);
    position: absolute;
    left: 0;
    top: -60px;
    height: calc(100% + 60px);
    width: 60%;
    background-position: left bottom;
    background-size: auto 100%;
    z-index: -1;
}
.right-team-image{
    background-image: url(../img/game_teams_right.png);
    position: absolute;
    right: 0;
    top: -60px;
    height: calc(100% + 60px);
    width: 50%;
    background-position: left bottom;
    background-size: auto 100%;
    z-index: -1;
}
.heroes-section .u-align-center {
    text-align: center;
}
.u-limit-width {
    max-width: 40em;
}
.card>.caption>.heading, .u-invert {
    color: #f0edf2;
}
.u-font-large {
    font-size: 2.2rem;
}
.u-center-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
body.game .heroes-section:not(li) .button {
    margin-top: 40px;
}
.btn.m-lg, .btn.m-wide, .button.m-lg, .button.m-wide, button.m-lg, button.m-wide {
    font-size: 2rem;
}
.btn.m-wide, .button.m-wide, button.m-wide {
    color: #fefefe;
    font-size: 2rem;
    padding: 7.5px 65px;
}
.u-pseudo-background:before, body.game .heroes-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#heroes-section{
    padding-top: 0;
}
body.game .heroes-section:not(li) .overwatch-logo, body.game .heroes-section:not(li) .overwatch-logo-mini {
    width: 320px;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    max-width: 90%;
}
.u-center-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
body.game .overview-section:not(li) {
    text-align: left;
}
.AboutRole-section {
    background-color: #000;
}
.AboutRole-section-container {
    background: linear-gradient(#fafafa,#e0e0e0);
}
.content-box {
    padding-top: 80px;
    padding-bottom: 80px;
}
.AboutRole-section-title {
    color: #585858;
}
.u-align-center {
    text-align: center;
}
.h1, h1 {
    font-size: 7.62939rem;
}
.AboutRole-column, .AboutRole-row {
    padding-top: 50px;
}
.AboutRole-column:first-child {
    padding-top: 0;
}
.AboutRole-column {
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
}
.lg-4 {
    width: 33.33333%;
}
.AboutRole-name--tank {
    color: #f8a22d;
}
.AboutRole-name {
    text-align: center;
    padding-top: 15px;
}
.h4, h4 {
    font-size: 2.5rem;
}
.h4, h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    line-height: normal;
}
.AboutRole-description {
    padding-top: 20px;
    max-width: 500px;
    margin: auto;
}
.u-align-left\@lg-min {
    text-align: left;
}
.AboutRole-name--damage {
    color: #e71d26;
}
.AboutRole-name--support {
    color: #00a345;
}
svg:not(:root) {
    overflow: hidden;
}
.AboutRole-icon {
    display: block;
    width: 170px;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
}
.AboutRole-section-container {
    background: linear-gradient(#fafafa,#e0e0e0);
}
.content-box {
    padding-top: 80px;
    padding-bottom: 80px;
}
.game-maps-section{
    background-image: url(http://overwatch.nos.netease.com/1/assets/img/pages/game/bg-maps-section-new.jpg);
    background-position: top;
    background-color: #1f2224;
    left: 0;
    position: relative;
    transition: left .25s ease-in-out;
    background-size: cover;
}
body.game .maps-subtitle {
    padding-bottom: 60px;
    margin-top: 30px;
}
.u-limit-width {
    max-width: 40em;
}
.scm-content-container{

}
.card>.caption>.heading, .u-invert {
    color: #f0edf2;
}
body.game .map-types {
    margin-bottom: 24px;
    background-color: rgba(49,69,80,.65);
}
body.game .map-types-flex {
    display: -webkit-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-top: 20px;
    padding-bottom: 20px;
}
body.game .map-type-wrapper {
    max-width: 33.33%;
    padding: 20px 20px 20px 10px;
    border-bottom: none;
    min-width: 325px;
    width: 50%;
    cursor: pointer;
    flex: 1 1 346px;
    pointer-events: auto;
    transition: background-color .1s linear;
}
.media{

}
.media-graphic {
    float: left;
    margin-right: 16px;
}
body.game .map-type-icon {
    width: 75px;
    position: relative;
    fill: #f0edf2;
    stroke: #f0edf2;
    stroke-width: 0;
}
.map-type-content{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.show-for-lg{

}
.data-table>thead th, .h5, .intro-text, h5 {
    font-size: 2.4rem;
    line-height: normal;
}
body.game .map-type-icon-mobile {
    position: relative;
    min-width: 0;
    width: 30px;
    margin-right: 7px;
}
body.game .map-type-name {
    vertical-align: middle;
    font-weight: 300;
}
body.game .map-type-description {
    margin-top: 5px;
    text-align: left;
}
body.game .map-type-nav-arrow {
    background-image: url(http://overwatch.nos.netease.com/1/assets/img/pages/game/map-nav-arrows-new.png);
    background-position-y: -410px;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    min-width: 24px;
    height: 38px;
}
.hide-for-lg {
    display: none!important;
}
.hide-for-md {
    display: none!important;
}
.map-type-name span{
    font-weight: 400;
    font-size: 2.4rem;
}body.game .mobile-maps-section {
     transition: left .25s ease-in-out;
 }
.row.spacer-24.column, .row.spacer-24.columns, .row.spacer-24>.column, .row.spacer-24>.columns {
    margin-top: 12px;
    margin-bottom: 12px;
}.row.gutter-24.column, .row.gutter-24.columns, .row.gutter-24>.column, .row.gutter-24>.columns {
     padding-left: 12px;
     padding-right: 12px;
 }
.lg-4 {
    width: 33.33333%;
}
.maps{

}
.gutter-24{

}
.spacer-24{

}
.xs-12{

}
.md-6{

}
.end{

}
.map-wrapper{

}
body.game .map.m-16-9 {
    padding-top: 56.25%;
}
body.game .map {
    background-size: cover;
    display: block;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.28);
}
.mapayutthaya {
    background-image: url(https://overwatch.nosdn.127.net/1/assets/img/pages/game/CNA33SG70CA61520288193582.jpg);
}
.m-16-9{

}
.mapayutthaya{

}
body.game .map-gradient {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 40%,rgba(0,0,0,.5));
}
body.game .map-name-wrapper {
    position: absolute;
    vertical-align: middle;
    text-align: right;
    bottom: 0;
    width: 100%;
    padding-right: 4%;
    padding-bottom: 2%;
}body.game .map-flag {
     height: 17px;
     margin-right: 5px;
     display: inline-block;
     position: relative;
 }

.map-name{
    font-style: italic;
    font-size: 24px;
    font-family: Big Noodle Too,impact,sans-serif;
    display: inline-block;
    position: relative;
    letter-spacing: 1.5px;
}
.map-category-container{
    min-height: 60px;
}
.map-category{
    padding-top: 3px;
    display: inline-block;
    vertical-align: middle;
}
body.game .map-category-icon svg {
    width: 28.92px;
}
.map-category-icon{

}
.icon {
    height: 24px;
    fill: #f0edf2;
    stroke: #f0edf2;
    stroke-width: 0;
}
body.game .map-category-name {
    padding-left: 6px;
    padding-right: 14px;
    font-size: 13px;
}
.game .maps .column{
    float: left;
}
body.game .abilities-section:not(li) {
    background-size: cover;
    background-position: center;
}
.video-background {
    position: relative;
}
body.game .abilities-section:not(li) .video-background-wrapper {
    height: 1080px;
    min-height: 100%;
}.video-background-wrapper {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
 }
.video-background-vid.m-right-align {
    right: 0;
    left: auto;
}
.video-background-wrapper>.video-background-vid {
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
body.game .abilities-section:not(li) .video-background-vid>video {
    min-height: 100%;
}
.video-background-wrapper>.video-background-vid>video {
    min-width: 100%;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
.video-background-vid.m-blend:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    top: -160px;
    background-image: -webkit-linear-gradient(top,rgba(240,237,242,0) 0,#f0edf2 100%);
    background-image: linear-gradient(to bottom,rgba(240,237,242,0) 0,#f0edf2 100%);
}
body.game .abilities-section:not(li) .video-background-vid.m-blend:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    top: -160px;
    background-image: -webkit-linear-gradient(top,rgba(6,0,9,0) 0,#060009 100%);
    background-image: linear-gradient(to bottom,rgba(6,0,9,0) 0,#060009 100%);
}
.data-table>thead th, .h5, .intro-text, h5 {
    font-size: 2.4rem;
}
body.game .abilities-section:not(li) .abilities-content {
    margin-top: 60px;
}
.u-limit-width {
    max-width: 40em;
}
body.game .abilities-section:not(li) .abilities-content {
    margin-top: 60px;
}
body.game .match-section:not(li) {
    background-image: url(../img/bg-howtoplay.jpg);
    background-size: cover;
    background-position: center;
}
body.game .match-section:not(li) .side-tips-section-content {
    padding: 1.4em;
}
body.game .gray-blue {
    color: #9daac8;
}
.card>.caption>.heading, .u-invert {
    color: #f0edf2;
}body.game .match-section:not(li) .side-tips-section {
     margin-top: 2em;
     background-color: rgba(40,53,79,.9);
     text-shadow: none;
 }
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: .5em;
}
.data-table>tbody, .h6, .media-card>.container>.content, .media-thumbnail>.caption, h6 {
     font-size: 1.8rem;
 }
.data-table>tbody, .h6, .media-card>.container>.content, .media-thumbnail>.caption, h6 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: .5px;
}
.game h6{
    font-size: 1.8rem !important;
}
.data-table>thead th, .h5, .intro-text, h5 {
    font-weight: 400;
    font-size: 2rem;
    line-height: normal;
}
.data-table>thead th, .h5, .intro-text, h5 {
    font-size: 2.4rem;
}
body.game .progress-section:not(li) .progress-bg {
    position: relative;
    float: none;
    right: 50%;
}
body.game .progress-section:not(li) {
    overflow: hidden;
    background-color: #17121d;
    padding-bottom: 0;
}
body.game .progress-section:not(li) .progress-content {
    margin-top: 20px;
}
body.game .progress-section:not(li) .progress-description {
    max-width: 70em;
}
body.game .progress-section:not(li) .loot-description {
    padding-right: 5em;
}
.md-8 {
    width: 66.66667%;
}
body.game .progress-section:not(li) .award-wrap .title {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    color: #c68e26;
}
body.game .progress-section:not(li) .award-wrap .list {
    overflow: hidden;
    height: 80px;
    border-top: 3px solid #c68e26;
    background-color: #2f3543;
}
body.game .progress-section:not(li) .award-wrap .list ul li {
    float: left;
    margin: 0 30px;
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    font-style: italic;
}
body.game .progress-section:not(li) .award-wrap .list ul li span.common {
    color: #fff;
}
body.game .progress-section:not(li) .award-wrap .list ul li span {
    font-weight: 700;
    display: inline-block;
    margin: 0 5px;
}
body.game .progress-section:not(li) .award-wrap .list ul li span.rare {
    color: #00aeff;
}
body.game .progress-section:not(li) .award-wrap .list ul li span {
    font-weight: 700;
    display: inline-block;
    margin: 0 5px;
}
.md-8 {
    width: 66.66667%;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right;
}
.md-4 {
    width: 33.33333%;
}body.game .progress-section:not(li) .loot-image>img {
     height: 200px;
     position: relative;
     bottom: 10px;
     right: 60px;
 }
body.game .progress-section:not(li) .achievement-image {
    margin-top: -4em;
}
body.game .progress-section:not(li) .achievement-image>img {
    height: 400px;
    left: -100px;
    position: relative;
    max-width: none;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right;
}
body.game .progress-section:not(li) .progress-bg>img {
    right: -25%;
    margin-top: -13%;
    margin-bottom: -6%;
}
body.game .progress-section:not(li) .progress-bg>img {
    position: relative;
    right: -25%;
    max-width: 150%;
    margin-top: -13%;
    margin-bottom: -6%;
}
.content-box {
    padding-top: 80px;
    padding-bottom: 80px;
}
body.game .progress-section:not(li) .award-wrap {
    position: relative;
    margin-top: 20px;
}
.u-font-shadow {
    text-shadow: 1px 2px 3px rgba(51,51,51,.5);
}
body.game .progress-section:not(li) .progress-content {
    margin-top: 20px;
}
body.game .progress-section:not(li) .progress-description {
    max-width: 70em;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right;
}
body.game .achievement-description{
    text-align: left;
    margin-top: 4em;
    padding-left: 5em;
}
.column.row.row, .row.row.columns {
    float: none;
}
.sub-nav {
    position: relative;
    z-index: 9;
}
.u-pseudo-background:before, body.game .heroes-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.sub-nav .sub-nav-menu {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sub-nav .is-menu-hidden .sub-nav-item {
    left: 100%;
    margin-left: -3.6rem;
}
.sub-nav .sub-nav-item, .sub-nav .sub-nav-item-small {
    display: block;
    position: relative;
    margin-bottom: .1em;
    background-color: #3c4860;
    border-radius: .3rem;
}
.sub-nav .sub-nav-btn {
    color: #333;
    display: block;
}
.sub-nav .sub-nav-icon {
    display: inline-block;
    padding: .5rem;
    height: 100%;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    font-size: 3.6rem;
    background-color: rgba(0,0,0,.2);
    background-position: 0 -1em;
    border-radius: .3rem 0 0 .3rem;
    background-size: 1em 2em;
    fill: #f0edf2;
    opacity: .8;
}
svg:not(:root) {
    overflow: hidden;
}
.sub-nav .sub-nav-text {
    display: inline-block;
    vertical-align: middle;
    padding: .3em 1.2em;
    font-family: "Open Sans","microsoft yahei",sans-serif;
    font-size: 1.09rem;
    text-transform: none;
    font-weight: 700;
    color: #f0edf2;
    opacity: .5;
}
.sub-nav .sub-nav-icon * {
    fill: #f0edf2;
}
.maps-section .map-wrapper{
    float: left;
}